---
layout: default
title: 小歪师傅的自留地
---
<div class="content">
	<h2 class="doc-title">文档列表</h2>
	<ul class="doc-list">
	{% for post in site.posts %}
　　	<li>
			<a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
        	<span>{{ post.date | date: "%F"}}</span>
        	<p>{{ post.category }}</p>
        	<p>{{ post.excerpt }}</p> 
		</li>
　　{% endfor %}
	</ul>
</div>
<div class="aside">
	{% for ctegory in site.categories%}
		<h2>{category|first}</h2><span>{category|last|size}{}</span>
	{%endfor%}
</div>
